{% extends "singlepage/base.html" %}


{% block extrajs %}
{% load static %}
    <script  src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% block main %}
{% if helloworld %}
    <br>
    <h2>(R) Recommenderlab -> (R) plumber.io -> (Python) Django</h2><br>
    Rekomendacje w bibliotece <a href="https://github.com/mhahsler/recommenderlab">recommenderlab</a> udostępnione przez <a href="https://www.rplumber.io">plumber.io<a/>.<br>
    Strona główna utworzona przy pomocy Django oraz javascript/JQuery.<br><br>    
    {{ helloworld }}
{% endif %}
<br><br>
<form action="{% url 'spa_reload' %}" method="post">
{% csrf_token %}

    <select id="users" name="user_selector" onchange="dummy()">
        <option value="100">100</option>
        <option value="95">95</option>
        <option value="96">96</option>
        <option value="54">54</option>
        <option value="32">32</option>
    </select>
    <br><br>
    <div id="content">
    # Tutaj bedzie rekomendacja #
    </div>
    <br><br>
    {#    <input type="submit" value="Przejdź dalej">#}
</form>
<br>
{% endblock main %}


